<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>





    <!--    别名
        配置的路径中的所有的类都可以使用类名代替全限定名
        -->
    <!--  <typeAliases>
          <package name="net.wanho.pojo"/>
      </typeAliases>
    -->


    <!--<plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>-->




</configuration>